<!DOCTYPE html>
<html>
<head>
    <title>Petrol Pump Credit</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f4f4f4;
        }
        h1 {
            color: #333;
        }
        a {
            display: inline-block;
            margin: 10px;
            padding: 10px 20px;
            background-color: #5cb85c;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }
        a:hover {
            background-color: #4cae4c;
        }
    </style>
</head>
<body>
    <h1>Welcome to Petrol Pump Credit System</h1>
    <a href="/users/register">Register</a>
    <a href="/users/login">Login</a>
    <br><br>
    <div style="border: solid;">
        <h2>id for demo use</h2>
        <b>admin e-mail : </b><span>admin@gmail.com</span><br>
        <b>admin password : </b><span>123</span><br><br>
        
        <b>employee1 e-mail : </b><span>ram@gmail.com</span><br>
        <b>employee1 password : </b><span>123</span><br><br>
        <b>employee2 e-mail : </b><span>shyam@gmail.com</span><br>
        <b>employee2 password : </b><span>123</span>
    </div>
</body>
</html>
